<!DOCTYPE html>
<html>
<head>
  <title>ActiveRecord::Rollout</title>
  <%= stylesheet_link_tag    "active_record_rollout/application", :media => "all" %>
  <%= javascript_include_tag "active_record_rollout/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
