<div class="panel panel-danger">
  <div class="panel-heading">Whoops! There were some errors saving your feature:</div>

  <div class="panel-body">
    <ul>
      <% @feature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
