body {
  padding-bottom: 40px;
}

.panel-danger {
  margin-top: 20px;
}

.panel-danger ul {
  margin-bottom: 0;
}

.modal-body .panel-danger {
  margin-top: 0;
}

table.table tbody tr td {
  vertical-align: middle;
}
