@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.popover {
  max-width: none;
}

.popover ul {
  padding-left: 10px;
}

body {
  padding-bottom: 40px;
}

.panel-danger {
  margin-top: 20px;
}

.panel-danger ul {
  margin-bottom: 0;
}

.modal-body .panel-danger {
  margin-top: 0;
}

.table-responsive {
  padding-top: 60px;
}

table.table tbody tr td {
  vertical-align: middle;
}

.group-header {
  display: block;
  width: 10px;
  white-space: nowrap;

  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.percentage-header {
  width: 120px;
}

.counter-header {
  width: 80px;
}

.delete-group {
  margin-left: 0.5em;
}
