<h1><%= params[:flaggable_type].classify %> Flags</h1>

<%= form_tag do %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Feature</th>
          <th>Percentage</th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: "feature_form", collection: @features, as: :feature %>
      </tbody>
    </table>
  </div>
<% end %>
